<!DOCTYPE html>
<html>
<head>
    <title>Fitbitter - Profile</title>
</head>
<body>
    <h1>Welcome to your Fitbitter profile</h1>
    <p>You are successfully connected to your Fitbit account.</p>

    <h2>Your Devices</h2>
    {% if devices %}
        <ul>
            {% for device in devices %}
                <li>
                    <strong>{{ device.deviceVersion }}</strong> (ID: {{ device.id }})
                    <ul>
                        <li>Type: {{ device.type }}</li>
                        <li>Last Sync: {{ device.lastSyncTime }}</li>
                        <li>Battery: {{ device.battery }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Could not retrieve your devices.</p>
    {% endif %}

    <h2>Some of your fitbit data - showing what is possible</h2>
    <a href="/raw-heart-rate-data">Resting Heart Rate (last 7 days)</a>
    <br>
    <a href="/detailed_heart_rate">Heart Rate Data</a>
    <br>
    <a href="/detailed-sleep-data">Detailed Sleep Data</a>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>